*{
    margin:0px;
    padding:0px;
    color:white;
}
body,html{
    height: 100%;
    width:100%;
    background-color: #212121 !important;
}
.navBtn{
    width: 4rem;
    height: 10vh;
    background-color: white;
}
#bgImg{
    position: relative;
    top:0px;
    height: 70vh;
    width:100%;
    background-image: url("img/reservationimg.jpg");
    filter: blur(2px);
    background-size:cover;
    background-position: top;
}
#container{
    color:white;
    position:absolute;
    top:15%;
    left:20%;
    margin-top: 1px;
    height: 165vh;
    width:60vw;
    border-radius: 30px;
    border:2px solid white;
    /* overflow:hidden; */
    /* background-color: #ccfbf1ef; */
    background-color: #302929f1;
}
#heading{
    height: 20vh;
    width: 100%;
    /* background-color: crimson; */
    padding:0.8% 5%;
    border-bottom: 1px solid slategray;
}
#heading h1{
    margin-top: .5rem;
}
#guestDetails{
    width:100%;
    height:70vh;
    /* background-color: rgba(77, 64, 90, 0.431); */
    border-bottom: 1px solid slategray;
    display: flex;
    flex-direction: column;
    gap:10%;
    padding:3%;
    border-bottom: 2px solid slategray;
}
.guestDiv{
    width:100%;
    display:flex;
    /* justify-content: space-around; */
}
.guestInp{
    margin-left: 18%;
    padding: 1%;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    background: transparent;
    color:white;
    font-size: 18px;
}
#guestDetails label{
    transform: translateY(30%);
    font-size: 25px;
}



#container #reservationSection{ 
    display:flex;
    flex-direction: column;
    gap:10%;
    height: 100vh;
    width: 100%;
    padding: 2%;
    /* background-color: rgba(128, 0, 128, 0.359); */
    align-items: center;
    /* justify-content: center; */
}
.reservationDiv{
    margin-left: -28%;
    width:70%;
    display:flex;
    gap: 6rem;
    /* background-color: red; */
    justify-content: space-between;
}
.reservationDiv label{
    font-size: 25px;
}
.reservationDiv input{
    /* margin-left: 18%; */
    padding: 1%;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    background: transparent;
    color:white;
    font-size: 18px;
}
#submit{
    position: relative;
    margin:auto;
    transform: translate(-50% -50%);
    padding:1% 3%;
    left:-5%;
    top:-18%;
    background-color: #0284c7;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 20px;
}
/* navbar */
.nab{
    display: flex;
    padding-right: 2rem;
    align-items: center;
    gap: 4rem;
    justify-items: center;
}

.NabBtn{
    align-items: center;
    justify-items: center;
}
.SignBtn:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.25);
    background-color: #a7f3d0;
    color: black;
}
.SignBtn{
    width: 150px;
    height: 40px;
    color: #a7f3d0;
    cursor: pointer;
    background-color: a7f3d0;
    text-decoration: none;
    font-size: 1.4rem;
    color: #212121;
    font-weight: 600;
    margin-top: .5rem;
    transition: color 0.3s ease;
    border: 0;
    outline: 0;
    border-radius: 20px;
}

.navbar {
    background-color:  #a7f3d0;
    padding: 15px 20px;
    margin: 0 0 0 1.58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    border-radius: 4rem;
    z-index: 1000;
    margin-top: .5rem;
    /* backdrop-filter: blur(25px); */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.25);
    /* outline: 3rem; */
    /* background-color: aqua;
    border-radius: 2rem;
    width: 8rem;
    height: 100%; */
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.navbar-menu li {
    margin: 0 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.navbar-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #212121;
    font-weight: bold;
    transition: color 0.3s ease;
}
.dropdown .dropbtn {
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    outline: none;
    color: black;
    padding: 0;
    background-color: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 15px;
}
.dropbtn:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.25);


}
.navbar a, .dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a7f3d0;
    min-width: 2rem;
    border-radius: 0 0 20% 20%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
    color: #a7f3d0;
    border-radius: 20% 20% 20% 20%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

 /* ...........Dropdown End.............   */

.navbar-menu li:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.25);

}
footer{
    margin-top: 40rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .navbar-menu {
        margin-top: 15px;
        gap: 10px;
    }

    .navbar-menu li {
        margin: 10px 0;
        
    }
}


